<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.teleport.fwoj_backend.mapper.boardMapper">

    <!--查询列表 title content-->
    <select id="getBoardList" resultType="board">
    select id,title,content,account,insertDate from board
    </select>

<!--    插入title content-->
    <insert id="boardSubmit" parameterType="board">
        insert board(title,content,account,insertDate) values (#{title},#{content},#{account},#{insertDate})
    </insert>

</mapper>
