<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.teleport.springbootmybatis.mapper.problemMapper">
    <select id="getProblems" resultType="problem">
       select id,title from problem;
    </select>

    <select id="getProblem" resultType="problem" parameterType="int">
       select id,title from problem where id = #{id};
    </select>

</mapper>
